/*
* Style for Artalk Revue
*
*
/*
/*
    Created on : 15.1.2018, 12:02:05
    Author     : Filip Uhlir
    Description: Artalk Revue reletad classes
*/
.revue a:hover{
  color: $ArtRevueAccent;
  text-decoration: none;
}
.revue .wp-caption-text a:hover{
  color: $ArtRevueAccent;
  text-decoration: none;
  border-bottom: 2px solid $ArtRevueAccent !important;
}
.single-revue a:hover{
  color: $ArtRevueAccent;
  text-decoration: none;
  border-bottom: 2px solid $ArtRevueAccent !important;
}
.revue-feature{
  padding-left: $ArtLeftPadding !important;
  height: 405px;
  border-bottom: 1px solid $ArtBlack;
  display: table;
  padding-bottom: 20px;
}
.revue .post-meta-single a:hover{
  color: $ArtRevueAccent;
  text-decoration: none;
}

.revue-number {
  text-align: center;
  font-size: 400px;
  line-height: 308px;
  font-weight: 600;
  color: $ArtRevueAccent;
}
.revue-name, .revue-content-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 600;
}
.revue-content-title:last-of-type {
  margin-top: 20px;
}
.revue-content-title {
  span {
    padding-left: $ArtLeftPadding;
  }
}
.single-revue a:hover {
  text-decoration: none;
  border-bottom: 2px solid $ArtRevueAccent !important;
}
.revue-actual-date {
  float: right;
  font-weight: 400;
}
.revue-single-title {
  padding-left: $ArtLeftPadding !important;
  margin-bottom: 2px;

  h1 {
    display: inline-block;
    font-size: 23px !important;
    line-height: 1.42857143;
    font-weight: 600;
  }
  h3 {
    float: right;
    font-size: 20px !important;
    font-weight: 100;
  }
}
.revue-sidebar-list {
  ul {
    list-style: none;
    padding-left: 0px;
  }
}
.revue-list:first-child {
  //padding-bottom: 0px;
}
.revue-sidebar {
  float: right !important;
  ul {
    padding-left: 0px;
  }
}
.revue-list
{
  height: auto;
  margin-bottom: 8px;
  padding-bottom: 8px;
  list-style: none;
  span {
    padding-left: $ArtLeftPadding;
  }

  .revue-sidebar-list {
    display: block;
    font-size: 14px;
    font-weight: 600;
  }
  .revue-sidebar-name {
    font-size: 14px;
  }
}
.revue-download-buttons {
  display: flex;
  margin-left: -25px;
  a {
    margin: 5px;
    float: left;
    height:90px;
    min-width:90px;
    background-image: url("assets/images/down-pdf-cz.png");
  }
  a:last-child {
    background-image: url("assets/images/down-pdf-en.png");
  }
}
@media only screen and (max-width: 990px) {
  .revue .revue .single-content{
    display: none;
  }
}
.revue-download-block, .revue-download-block-mobile {
  text-align: center;
  display: none;
}
@media (max-width: 1200px) {
  .revue-download-block-mobile{
    display: block;
  }
  .revue-download-buttons {
    display: inline-block;
  }
}
@media (min-width: 1201px) {
  .revue-download-block{
    display: block;
  }
}
