/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26.1.2016, 12:02:05
    Author     : Filip Uhlir
    Description: Variables for Artheme
*/
$ArtInnerColor: #F9F9F9;
$ArtPink: #fb026a;
$ArtBlue: #27b1f9;
$ArtBlack: #212121;
$ArtLinks: #212121;
$Artfonts: Arial, "Helvetica Neue", Helvetica,sans-serif;
$Artheadlines: Arial, "Helvetica Neue", Helvetica,sans-serif;


////** Unit-less `line-height` for use in components like buttons.
//$line-height-base:        1.428571429 !default; // 20/14
//$font-size-base:          14px !default;
////** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
//$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px
//$border-radius-base:        4px !default;
////** Padding between columns. Gets divided in half for the left and right.
//$grid-gutter-width:         30px !default;
//$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
//
//
//
////== Media queries breakpoints
////
////## Define the breakpoints at which your layout will change, adapting to different screen sizes.
//
//// Extra small screen / phone
////** Deprecated `$screen-xs` as of v3.0.1
//$screen-xs:                  480px !default;
////** Deprecated `$screen-xs-min` as of v3.2.0
//$screen-xs-min:              $screen-xs !default;
////** Deprecated `$screen-phone` as of v3.0.1
//$screen-phone:               $screen-xs-min !default;
//
//// Small screen / tablet
////** Deprecated `$screen-sm` as of v3.0.1
//$screen-sm:                  768px !default;
//$screen-sm-min:              $screen-sm !default;
////** Deprecated `$screen-tablet` as of v3.0.1
//$screen-tablet:              $screen-sm-min !default;
//
//// Medium screen / desktop
////** Deprecated `$screen-md` as of v3.0.1
//$screen-md:                  992px !default;
//$screen-md-min:              $screen-md !default;
////** Deprecated `$screen-desktop` as of v3.0.1
//$screen-desktop:             $screen-md-min !default;
//
//// Large screen / wide desktop
////** Deprecated `$screen-lg` as of v3.0.1
//$screen-lg:                  1200px !default;
//$screen-lg-min:              $screen-lg !default;
////** Deprecated `$screen-lg-desktop` as of v3.0.1
//$screen-lg-desktop:          $screen-lg-min !default;
//
//// So media queries don't overlap when required, provide a maximum
//$screen-xs-max:              ($screen-sm-min - 1) !default;
//$screen-sm-max:              ($screen-md-min - 1) !default;
//$screen-md-max:              ($screen-lg-min - 1) !default;
//
//
//// Basics of a navbar
//$navbar-height:                    50px !default;
//$navbar-margin-bottom:             $line-height-computed !default;
//$navbar-border-radius:             $border-radius-base !default;
//$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
//$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
//$navbar-collapse-max-height:       340px !default;
//
//$navbar-default-color:             #777 !default;
//$navbar-default-bg:                #f8f8f8 !default;
//$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;
//// Navbar collapse
////** Point at which the navbar becomes uncollapsed.
//$grid-float-breakpoint:     $screen-sm-min !default;
//
////** Point at which the navbar begins collapsing.
//$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;
//
//@mixin clearfix() {
//  &:before,
//  &:after {
//    content: " "; // 1
//    display: table; // 2
//  }
//  &:after {
//    clear: both;
//  }
//}
//
//@mixin navbar-vertical-align($element-height) {
//  margin-top: (($navbar-height - $element-height) / 2);
//  margin-bottom: (($navbar-height - $element-height) / 2);
//}